
@{
    ViewBag.Title = "ProfitandLoss";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2 style="font-size:16px;">➕Ledger <small></small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">

                    <div class="col-md-3">
                        <label>Select Student</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <label>From</label>
                        <input type="date" class="form-control" />
                    </div>

                    <div class="col-md-2">
                        <label>To</label>
                        <input type="date" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Button -->
    <button type="submit" class="btn btn-success">Search</button>

    <!-- Reset Button -->
    <button type="reset" class="btn btn-warning">Reset</button>
</div>



